.about-project {
  max-width: calc(100% - 70px * 2);
  margin: 0 auto;
}

.about-project__heading {
  margin: 110px 0 70px;
  border-bottom: 1px solid black;
}

.about-project__heading-title {
  font-size: 22px;
  line-height: 26.63px;
  font-weight: 400;
  letter-spacing: -0.04px;
  padding-bottom: 23px;
  margin: 0;
}

.about-project__items {
  display: flex;
  column-gap: 55px;
  padding-bottom: 110px;
}

.about-project__grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 110px;
}

.about-project__item {
  display: flex;
  flex-direction: column;
}

.about-project__item-title {
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 400;
  letter-spacing: -0.4px;
  padding-bottom: 26px;
  margin: 0;
}

.about-project__item-description {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.about-project__grid {
  max-width: 228px;
  min-height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-project-title {
  width: 228px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
}

.about-project-title_type_green {
  background-color: #2be080;
}

.about-project__grid-title {
  font-size: 14px;
  line-height: 16.94px;
  margin: 0;
}

.about-project__grid-subject {
  color: #a0a0a0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding-bottom: 5px;
}

@media screen and (max-width: 819px) {
  .about-project {
    max-width: calc(100% - 50px * 2);
  }

  .about-project__heading {
    margin: 90px 0 70px;
  }

  .about-project__item-title {
    padding-bottom: 22px;
  }

  .about-project__item-description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__grid {
    max-width: 140px;
    min-height: 67px;
  }

  .about-project-title {
    width: 140px;
    margin-bottom: 15px;
  }

  .about-project__grid-subject {
    font-weight: 400;
  }

  .about-project__items {
    column-gap: 35px;
    padding-bottom: 95px;
  }

  .about-project__grid-container {
    padding-bottom: 85px;
  }

}

@media screen and (max-width: 460px) {
  .about-project {
    max-width: calc(100% - 18px * 2);
  }

  .about-project__heading {
    margin: 70px 0 60px;
  }

  .about-project__heading-title {
    font-size: 18px;
    padding-bottom: 28px;
  }

  .about-project__items {
    flex-direction: column;
    gap: 56px;
    padding-bottom: 58px;
  }

  .about-project__item-title {
    padding-bottom: 19px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .about-project__item-description {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__grid {
    max-width: 100px;
    min-height: 67px;
  }

  .about-project-title {
    width: 100px;
    margin-bottom: 9px;
  }

  .about-project__grid-subject {
    font-size: 11px;
    line-height: 13.31px;
  }

  .about-project__grid-title {
    font-size: 11px;
  }

  .about-project__grid-container {
    padding-bottom: 62px;
  }
}